
.drifter-layout {
  --panel-pad: 2rem;
  --aside-width: min(max(30vmax, 12rem), 100vmin);
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: trench, sans-serif;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.drifter-layout-main {
  overflow: hidden;
  flex-grow: 1;
}

.drifter-layout-sidebar {
  flex-shrink: 0;
  position: relative;
  width: 0;
  padding: var(--panel-pad);
  padding-right: 0;
  background-color: var(--background-color-complement);
  transition: all 444ms ease-in 44ms;
}

.drifter-layout-sidebar:before {
  content: attr(data-heading);
  position: absolute;
  top: .75rem;
  left: .75rem;
}

.drifter-layout-sidebar:hover {
  width: var(--aside-width);
}

.drifter-layout .drifter-layout-sidebar-pin {
  appearance: none;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--panel-pad);
  height: var(--panel-pad);
  cursor: pointer;
}

.drifter-layout .drifter-layout-sidebar-pin:before {
  content: '\01f588';
  color: var(--accent-color);
}

.drifter-layout .drifter-layout-sidebar-pin:hover:before,
.drifter-layout .drifter-layout-sidebar-pin:checked:before {
  color: var(--accent-color-complement);
}

.drifter-layout .drifter-layout-sidebar-pin:checked + .drifter-layout-sidebar {
  width: var(--aside-width);
}

/* avoid the sidebar jumping back when hovering over the pin button */
.drifter-layout .drifter-layout-sidebar-pin:hover + .drifter-layout-sidebar {
  transition-delay: 1000000s;
}
