
.drifter-layout {
  --panel-pad: 2rem;
  --aside-width: min(max(33vmax, 12rem), 100vmin);
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: trench, sans-serif;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.drifter-layout-main {
  overflow: hidden;
  flex-grow: 1;
}

.drifter-layout-sidebar {
  flex-shrink: 0;
  position: relative;
  width: 0;
  padding: var(--panel-pad);
  padding-right: 0;
  background-color: var(--background-color-complement);
  transition: all 444ms ease-in 44ms;
}

.drifter-layout-sidebar:before {
  content: attr(data-heading);
  position: absolute;
  top: .75rem;
  left: .75rem;
}

/* sidebar open state */
.drifter-layout-sidebar:hover,
.drifter-layout .drifter-layout-sidebar-pin:checked + .drifter-layout-sidebar {
  width: var(--aside-width);
  padding-right: var(--panel-pad);
}

.drifter-layout .drifter-layout-sidebar-pin {
  --sidebar-pin-size: calc(var(--panel-pad) * .45);
  --sidebar-pin-offset: calc((var(--panel-pad) - var(--sidebar-pin-size)) * .5);
  position: absolute;
  right: var(--sidebar-pin-offset);
  bottom: var(--sidebar-pin-offset);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sidebar-pin-size);
  height: var(--sidebar-pin-size);
  border-radius: 50%;
  background-color: var(--background-color);
}

/* avoid the sidebar jumping back when it's open and the user hovers over the pin button */
.drifter-layout .drifter-layout-sidebar-pin:not(:checked):hover + .drifter-layout-sidebar {
  transition-delay: 1000000s;
}
.drifter-layout .drifter-layout-sidebar-pin:checked:hover + .drifter-layout-sidebar {
  transition-delay: 0s;
}
