
/* make animations available only if the user enabled animations in the OS settings */
@import url('./animations.css') (prefers-reduced-motion: no-preference);

.Sequencer {
  /* todo - get bpm from outside */
  --bpm: 99;
  --sequencer-ticks: 4;
  --sequencer-ticks-per-beat: 4;
  --sequencer-tape-speed: calc(
    ((60s / var(--bpm)) / var(--sequencer-ticks-per-beat)) * var(--sequencer-ticks)
  );
  --channel-height: 1.2rem;
  display: flex;
  align-items: stretch;
  height: min-content;
}

.Sequencer-timeline {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}


.Sequencer .Sequencer-tape {
  /* dividing by 2 as the container width is 200% */
  --sequencer-tick-width: calc((100% / var(--sequencer-ticks) / 2));
  display: none;
  position: absolute;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  width: 200%;
  /* create a background image with a transparent stripe at the begining,
    and repeat it twice to span the full width */
  background-image: linear-gradient(
    90deg,
    transparent,
    transparent var(--sequencer-tick-width),
    var(--background-color) var(--sequencer-tick-width),
    var(--background-color) 50%,
    transparent 50%,
    transparent calc(50% + var(--sequencer-tick-width)),
    var(--background-color) calc(50% + var(--sequencer-tick-width)),
    var(--background-color) 100%
  );
  opacity: .9;
  pointer-events: none;
}

.Sequencer.Sequencer-running .Sequencer-tape {
  display: block;
  animation: slideLeft var(--sequencer-tape-speed) steps(var(--sequencer-ticks)) reverse infinite;
}

.Sequencer-channels {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Sequencer-channels .Sequencer-channel {
  height: var(--channel-height);
}

.Sequencer-channels .Sequencer-channel .Sequencer-tick {
  appearance: none;
  width: calc(100% / var(--sequencer-ticks));
  height: 100%;
  border-radius: calc(var(--channel-height) * .25);
  border: calc(var(--channel-height) * .1) solid var(--background-color);
  background-color: var(--background-color-complement);
  cursor: pointer;
}

.Sequencer-channels .Sequencer-channel .Sequencer-tick:checked:active,
.Sequencer-channels .Sequencer-channel .Sequencer-tick:hover:not(:active) {
  background-color: var(--accent-color-complement);
}

.Sequencer-channels .Sequencer-channel .Sequencer-tick:active,
.Sequencer-channels .Sequencer-channel .Sequencer-tick:checked:not(:active) {
  background-color: var(--accent-color);
}
