
.Input {
  --input-height: 1.5rem;
  height: var(--input-height);
  padding: 0;
  margin: 0;
  outline: none;
  border: 0 none;
  border-radius: calc(var(--input-height) * .5);
  font: 1rem trench, sans-serif;
  color: var(--accent-color);
  background-color: transparent;
}
