
.drifter-main-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - (var(--panel-pad) * 2));
  margin: var(--panel-pad);
}

.drifter-main-view-panel,
.drifter-main-view-panel-center,
.drifter-main-view-panel-end {
  width: calc(100vw - (var(--panel-pad) * 2) - var(--aside-width));
  overflow: hidden;
  padding: .3rem;
  border: .125rem solid var(--accent-color);
  border-radius: .6rem;
}

.drifter-main-view-panel-end {
  align-self: flex-end;
}

.drifter-main-view-panel-center {
  align-self: center;
}
