
.MainView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.MainView > :not(:last-child) {
  margin-block-end: .75rem;
}

.MainView-title {
  margin: 0;
  font-size: 4rem;
  letter-spacing: -.05em;
  font-weight: 100;
  text-align: right;
  color: var(--accent-color);
}

.MainView-panel,
.MainView-panel-center,
.MainView-panel-end {
  width: calc(100vw - (var(--panel-pad) * 2) - var(--aside-width));
  overflow: hidden;
  padding: .3rem;
  border: .1rem solid var(--accent-color);
  border-radius: .6rem;
}

.MainView-panel-end {
  align-self: flex-end;
}

.MainView-panel-center {
  align-self: center;
}
