
.drifter-main-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - (var(--panel-pad) * 2));
  margin: var(--panel-pad);
}

.drifter-main-view-panel,
.drifter-main-view-panel-center,
.drifter-main-view-panel-end {
  width: calc(100vw - (var(--panel-pad) * 2) - var(--aside-width));
}

.drifter-main-view-panel-end {
  align-self: flex-end;
}

.drifter-main-view-panel-center {
  align-self: center;
}
