.drifter-visualization {
  --visualization-box-size: 2.8rem;
  box-sizing: content-box;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
  flex-grow: 1;
  height: var(--visualization-box-size);
  padding: 0;
  border-radius: calc(var(--visualization-box-size) * .35);
}

.drifter-visualization:not(:last-child) {
  margin-inline-end: calc(var(--visualization-box-size) * .5);
}

.drifter-visualization:nth-child(2) {
  --visualization-box-size: 2.4rem;
}

.drifter-visualization:nth-child(3) {
  --visualization-box-size: 2rem;
}

.drifter-visualization:nth-child(4) {
  --visualization-box-size: 1.6rem;
}
