.drifter-visualizations {
  display: flex;
  align-items: center;
  justify-content: stretch;
  align-self: flex-end;
  padding-top: 0;
  padding-bottom: 0;
}

.drifter-visualizations :not(:last-child) {
  margin-inline-end: .5rem;
}

.drifter-visualizations .drifter-visualization-tight,
.drifter-visualizations .drifter-visualization-loose {
  flex-grow: 1;
  min-height: 2rem;
  background-color: transparent;
}

.drifter-visualizations .drifter-visualization-tight {
}

.drifter-visualizations .drifter-visualization-loose {
}
