
:root {
  --light-purple: #a3aae5;
  --light-yellow: #e4dda3;
  --green: lightgreen;
  --blue: skyblue;
  --purple: mediumpurple;
  --pink: lightpink;
  --gray: #636363;
  --gray-tint: #939393b0;
  --gray-shade: #303030b0;
  --dark-gray: #474747;
  --dark-gray-tint: #777777b0;
  --dark-gray-shade: #1c1c1cb0;
  --light-gray: #d4d4d4;

  --background-color: var(--dark-gray);
  --background-color-tint: var(--dark-gray-tint);
  --background-color-shade: var(--dark-gray-shade);
  --background-color-complement: var(--gray);
  --background-color-complement-tint: var(--gray-tint);
  --background-color-complement-shade: var(--gray-shade);
  --foreground-color: var(--light-gray);
  --accent-color: var(--light-purple);
  --accent-color-complement: var(--light-yellow);
}
