
:root {
  --background-color: #474747;
  --background-color-tint: #777777b0;
  --background-color-shade: #1c1c1cb0;
  --background-color-complement: #696969;
  --background-color-complement-tint: #999999b0;
  --background-color-complement-shade: #363636b0;
  --foreground-color: #d4d4d4;
  --accent-color: #a3aae5;
  --accent-color-complement: #e4dda3;
}
