
:root {
  font-size: calc(14px + 1.25vmin);
}

@font-face {
  src:  url('../fonts/trench100.ttf') format('truetype'),
        url('../fonts/trench100.otf') format('opentype');
  font-family: trench;
  font-weight: 700;
}
