
:root {
  font-size: calc(14px + 1.25vmin);
}

@font-face {
  src:  url('../fonts/trench-100.ttf') format('truetype'),
        url('../fonts/trench-100.otf') format('opentype');
  font-family: trench;
}
