
.drifter-react-tooltip {
  min-width: 6em;
  max-width: 26em;
  padding: .75em 1em !important;
  font-size: .7rem !important;
}

.drifter-react-tooltip .multi-line {
  text-align: start !important;
}
