.Settings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2.4rem .4rem;
}

.Settings > * {
  margin-block-end: .5rem;
}

.Settings :not(:last-child) {
  margin-inline-end: 1.5rem;
}

.Settings .Setting-reset-interval {
  white-space: nowrap;
}

.Settings .Setting-reset-interval :not(:last-child) {
  margin-inline-end: .1rem;
}
